/* Styles Sheet */
* {
    background-color: rgb(241,244,243);
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    display: flex;
    justify-content: left;
}

.image {
    display: flex;
    margin-bottom: 20px;
    flex: 1;
}

.container {
    background-color: rgb(241,244,243);
    /* margin: 0px 20px rgb(241,244,243); */
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a {
    color: rgb(9,53,127);
    background-color: rgb(241,244,243);
}

.item {
    font-size:large;
    text-align: left;
    text-wrap: wrap;
    margin: 20px 0;
    min-width: 100px;
}

.break {
    background-color: rgb(183,171,145);
    color: rgb(9,53,127);
    font-size: 20pt;
    font-weight: bolder;
}
