/* Styles Sheet */
* {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.outside {/* Outer Box */
    border: 5px solid #4a6741;
}

.header { /* Banner */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #efdabb;
    border-bottom: 5px solid #4a6741;
    padding: 3px;
 }

 .headertext { /* Banner */
    color:#4a6741;
    background-color: #efdabb;
    font-size: 30px;
    font-style: italic;
 }

.divider { /* Dividers */
    background-color: #4a6741;
    font-size: 20px;
    color:#efdabb;
    margin-bottom: 5px;
    padding: 3px;
}

.container { /* Containers */
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
}

a { /* Hypertext Appearance */
    font-family: 'Courier New', Courier, monospace;
    color: #4a6741;
    background-color: #efdabb;
}

.link{ /* Hypertext Position */
    margin-top: -57px;
    margin-left: 16px;
    text-align: left;
    max-width: 150px;
    min-height: 60px;
}

/* Footer */
.bottom {
    display:flex;
    margin-top: 10px;
    justify-content: right;
    background-color: #4a6741;
    font-size: 12px;
    padding-right: 3px;
    color: #efdabb;
}
